@import url(https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@400;700;900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: none;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a,
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
aside,
footer,
header,
main,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}
ul,
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  vertical-align: top;
}
img,
svg {
  max-width: 100%;
  height: auto;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}
button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: 0 0;
  cursor: pointer;
}
button:active,
button:focus,
input:active,
input:focus {
  outline: 0;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
label {
  cursor: pointer;
}
legend {
  display: block;
}
.none {
  display: none !important;
}
.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: 0 0;
  font-size: 0;
}
:root {
  --container-width: 990px;
  --container-padding: 15px;
}
.header-container {
  position: relative;
  max-width: 1280px;
  margin: auto;
}
.header {
  background-color: #fff;
}
.overlay {
  pointer-events: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.2s linear;
  z-index: 9;
}
.overlay.visible {
  opacity: 1;
  pointer-events: all;
}
.no-scroll {
  overflow: hidden;
}
.header-logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
}
.header-title {
  margin-bottom: 24px;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  font-style: normal;
}
.header-inner {
  position: relative;
  padding: 84px 10px 15px 10px;
}
.header .header-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.btn-sign-up {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #0057ff;
  background: #0057ff;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.btn-login {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #0057ff;
  color: #0057ff;
  font-size: 18px;
  font-weight: 400;
}
.btn {
  position: relative;
}
.btn:active {
  top: 1px;
}
.header-mobile-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: #fff;
}
.counts {
  padding: 36px 15px;
  background: #0057ff;
}
.count-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
}
.count-inner {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 300;
}
.count-title {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.message {
  padding: 42px 0 36px 0;
}
.message-title {
  margin-bottom: 24px;
  color: #000;
  font-size: 22px;
  font-weight: 900;
}
.message-wrapper::-webkit-scrollbar {
  width: 0;
}

.message-wrapper::-webkit-scrollbar-track {
  background: none;
}
.message-wrapper {
  scrollbar-width: 0;
  scrollbar-color: none;
}

.message-wrapper {
  height: 740px;
  overflow: auto;
  position: relative;
  padding: 15px;
  max-width: 635px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05);
}
.whitening-message {
  position: absolute;
  width: 100%;
  height: 250px;
  background: linear-gradient(0deg, #f4f5f6 21.87%, rgba(244, 245, 246, 0) 100%);
  bottom: 0;
}
.message {
  position: relative;
}
.message-item {
  margin-bottom: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  -moz-column-gap: 16px;
  column-gap: 16px;
  border-bottom: 2px solid #e9e9e9;
}
.message-item:last-child {
  border-bottom: none;
}
.message-img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.message-content-top {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.message-content {
  width: 100%;
}
.message-content-title {
  color: #1d1e22;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
}
.message-time {
  color: #abacb1;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.message-name {
  color: #abacb1;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.message-text {
  margin-top: 5px;
  color: #1d1e22;
  font-size: 14px;
  font-weight: 400;
}
.message-content-img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.message-content-footer {
  max-width: 258px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.message-footer-item {
  width: 47px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.message-footer-item div {
  width: 15px;
  height: 15px;
}
.message-footer-item p {
  color: #b1b1b1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.footer {
  padding-bottom: 36px;
}
.footer-title {
  margin-bottom: 24px;
  color: #000;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.container-message {
  position: relative;
  display: flex;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.aside-wrapper {
  display: none;
}
.hashtag-list {
  padding: 10px 16px;
  width: 312px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  filter: drop-shadow(0 5px 30px rgba(0, 0, 0, 0.05));
}
.hashtag-list-title {
  margin-bottom: 10px;
  color: #1d1e22;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
.hashtag-list-wrapper p {
  margin-bottom: 3px;
  color: #1d1e22;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.hashtag-list-wrapper small {
  display: block;
  color: #abacb1;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.hashtag-list-item {
  margin-bottom: 10px;
}
.bloggers-list {
  padding: 10px 14px;
  width: 312px;
  min-height: 250px;
  background-color: #fff;
  border-radius: 5px;
  filter: drop-shadow(0 5px 30px rgba(0, 0, 0, 0.05));
}
.bloggers-list-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.bloggers-list-title {
  margin-bottom: 20px;
  color: #1d1e22;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}
.bloggers-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogger-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.blogger-item-title {
  width: 120px;
  flex-grow: 0.5;
}
.blogger-item-title p {
  color: #1d1e22;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.blogger-item-title small {
  color: #abacb1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.blogger-item-btn button {
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #0057ff;
  background: #fff;
  color: #0057ff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}
.blogger-item-btn button:active {
  top: 1px;
}
.modal {
  display: none;
  position: absolute;
  padding: 15px;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  z-index: 20;
  transition: all 0.3s ease;
}
.modal.no-active {
  transform: translateY(100%);
}
.modal.active {
  display: block;
}
.modal.active {
  display: block;
}
.modal-handler {
  margin: auto;
  margin-bottom: 32px;
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background: #abacb1;
}
.modal-title {
  margin-bottom: 24px;
  color: #1d1e22;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
}
.contact-input {
  margin-bottom: 24px;
  position: relative;
  padding: 5px 16px;
  width: 100%;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #fff;
}
.contact-input-pass input {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.contact-input-pass input::-moz-placeholder {
  color: #b1b1b1;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-input-pass input:-ms-input-placeholder {
  color: #b1b1b1;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-input-pass input::placeholder {
  color: #b1b1b1;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-input input {
  position: absolute;
  bottom: 5px;
  color: #555;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-input label {
  position: absolute;
  top: 5px;
  left: 16px;
  color: #b1b1b1;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-error {
  position: absolute;
  bottom: -15px;
  color: #e40060;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-btn {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #0057ff;
  background: #0057ff;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.modal-close {
  display: none;
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 26px;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1d1e22;
  min-width: 320px;
  background-color: #f4f5f6;
}
.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: auto;
}
@media (min-width: 500px) {
  .message-title {
    font-size: 24px;
  }
  .message-text {
    font-size: 16px;
  }
  .header-title {
    font-size: 32px;
  }
  .footer-title {
    font-size: 32px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .title {
    margin: auto;
    margin-bottom: 24px;
    width: 400px;
  }
  .btn {
    width: 400px;
  }
  .modal {
    padding: 17px;
    width: 362px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
  .modal-register {
    height: 440px;
  }
  .modal-login {
    height: 300px;
  }
  .modal-login button {
    margin-top: 5px;
  }
  .modal-register button {
    margin-top: 0 !important;
  }
  .modal-handler {
    display: none;
  }
  .form-btn {
    margin-top: 20px;
  }
  .modal-close {
    display: block;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header-container {
    flex-direction: row;
    align-items: center;
  }
  .header-logo {
    left: 30px;
    transform: translateX(0);
  }
  .footer-title {
    width: 640px;
  }
  .footer-button-wrapper {
    flex-direction: row;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .count-wrapper {
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .whitening-message {
    width: 636px;
  }
  .header-title {
    width: 410px;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    text-align: left;
  }
  .header-inner {
    width: 500px;
    flex-grow: 1;
  }
  .aside-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .counts {
    margin: auto;
    width: 960px;
  }
}
