/* form start */
.what-new {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}
.question-message {
  display: block;
  padding: 20px;

  color: rgb(171, 172, 177);
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}
/* form start */
.message-form {
  display: none;
}
.message-form-control {
  margin-top: 23px;
  padding: 24px 18px 18px 18px;
  border: 3px solid rgb(0, 87, 255);
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  display: none;
}
.message-form-control.active {
  display: block;
}
.message-form-control textarea {
  padding-left: 5px;
  resize: none;
  width: 100%;
  font-size: 20px;
}

.text-message {
  color: rgb(29, 30, 34);
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
.message-form-control-wrapper {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.message-form-img {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgb(0, 87, 255);
  border-radius: 10px;
}
.message-progress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.progress-box {
  width: 52px;
  height: 52px;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #0057ff;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: #0057ff;
  font-size: 30px;
  font-weight: 700;
}
.btn-form-message {
  padding: 10px 25px;
  color: #fff;
  border: 1px solid rgb(0, 87, 255);
  border-radius: 10px;
  background: rgb(0, 87, 255);
}

/* Form-end */
